<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="js/countries.js" type="text/javascript"></script> 
    <script src="js/proptypes.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/plusminus.js"> </script>
    <script type="text/javascript" src="js/plusminusimp.js"> </script>
    <script type="text/javascript" src="js/searchtempo.js"> </script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     
   <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" type="text/css">
   <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

   <link href="css/datepicker.css" rel="stylesheet">
   <link href="css/yesno.css" rel="stylesheet">
    <script src="js/bootstrap-datepicker.js" type="text/javascript"></script>

     <script type="text/javascript">
        $(document).ready(function() {
           $( "#smartpricerange" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 75, 300 ],
                slide: function( event, ui ) {
                      $( "#smartprice" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                }
            });
            $( "#smartprice" ).val( "$" + $( "#smartpricerange" ).slider( "values", 0 ) +
              " - $" + $( "#smartpricerange" ).slider( "values", 1 ) );
        });
   </script>
   <script type="text/javascript">
        $(document).ready(function() {
           $( "#leasetermrange" ).slider({
                range: true,
                min: 1,
                max: 24,
                values: [ 3, 12 ],
                slide: function( event, ui ) {
                      $( "#leaseterm" ).val( " " + ui.values[ 0 ] + " - " + ui.values[ 1 ]  + " Months");
                }
            });
            $( "#leaseterm" ).val( " " + $( "#leasetermrange" ).slider( "values", 0 ) +
              " - " + $( "#leasetermrange" ).slider( "values", 1 )  + " Months");
        });
   </script>
   <script type="text/javascript">
      $(document).ready(function() {
         $(".placesetting").hide();
         $("#placelocation").show();        
         $("#locationsetting").click(function() {
            $(".placesetting").hide();
            $("#placelocation").show();
         });
         $("#typesetting").click(function() {
            $(".placesetting").hide();
            $("#placetype").show();
         });
         $("#homesetting").click(function() {
            $(".placesetting").hide();
            $("#roominfo").show();
         });
         $("#amenitiessetting").click(function() {
            $(".placesetting").hide();
            $("#placeamenities").show();
         });
         $("#idealforsetting").click(function() {
            $(".placesetting").hide();
            $("#placefor").show();
         });
         $("#leaseinfosetting").click(function() {
            $(".placesetting").hide();
            $("#leaseinforent").show();
         });
         $("#rentrulessetting").click(function() {
            $(".placesetting").hide();
            $("#rentrules").show();
         });
          
    });
   </script>
   <script type="text/javascript">
      $(document).ready(function() {
         $(".hostsetting").hide();
         $("#guestfrequency").show();        
         $("#yoursetting").click(function() {
            $(".hostsetting").hide();
            $("#guestfrequency").show();
         });
         $("#tripsetting").click(function() {
            $(".hostsetting").hide();
            $("#triplength").show();
         });
         $("#smartpricesetting").click(function() {
            $(".hostsetting").hide();
            $("#pricesetting").show();
         });
         $("#rulessetting").click(function() {
            $(".hostsetting").hide();
            $("#houserules").show();
         });
         $("#guestbooksetting").click(function() {
            $(".hostsetting").hide();
            $("#howguestbook").show();
         });
         $("#locallawsetting").click(function() {
            $(".hostsetting").hide();
            $("#locallaw").show();
         });
          
    });
   </script>
   <script type="text/javascript">
     $(document).ready(function(){
      var nowTemp = new Date();
      var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
      var rentdate = $('#availability').datepicker({
          onRender: function(date) {
          return date.valueOf() < now.valueOf() ? 'disabled' : '';
          }
       }).on('changeDate', function(ev) {
          $('.datepicker').hide();
       });
      }); 
   </script>
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#uploadfiles').change(
            function(){
              if ($(this).val()){
                $('#uploadimages').submit();
              }
            }
          );
        }
      );
    </script>   
   
    <style>
      html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height:1.5em;
        color: #232323;
        -webkit-font-smoothing: antialiased;
      }
      #map-canvas {
        height: 100%;
        width: 100%;
        margin-top: 60px;
        padding: 0px
        z-index: 0
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        z-index: 0
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
     .pac-icon{
    visibility: hidden;
    width: 0px;
     }

    .pac-item:hover, .pac-item-selected{
       background-color: #ff5a5f;
       color: #ffffff;
     }

    .pac-item-selected > .pac-item-query, .pac-item:hover > .pac-item-query{
       color: #ffffff;
    }

    .pac-container{
      background-color: #f5f5f5;
    }
    .footer {
        /*clear: both;*/
        background-color: #33CCCC;
        position: relative;
        overflow: hidden
        /*z-index: 10;*/
        height: 1em;
        margin-top: -1em;
    }
    #contactform { 
       position: relative; 
       z-index: 1; /* The z-index should be higher than Google Maps */
       width: 300px;
       margin: 60px auto 0;
       padding: 10px;
       background: black;
       height: auto;
       opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
       color: white;
    }
   #mapCanvas {
    width: 800px;
    height: 600px;
    float: left;
  }
  #infoPanel {
    float: left;
    margin-left: 10px;
  }
  #infoPanel div {
    margin-bottom: 5px;
  }

    </style>
    <title>Places search box</title>

     <script type="text/javascript">   
    $(function() {
        $("#calendar1").datepicker();   
    }); 
    </script>
    <script type="text/javascript">   
    $(function() {
        $("#calendar2").datepicker();   
    }); 
    </script>
 
  

   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

   <script>
var geocoder;
var map;
var marker;

codeAddress = function () {
    geocoder = new google.maps.Geocoder();
  
  var address = document.getElementById('city_country').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map = new google.maps.Map(document.getElementById('mapCanvas'), {
    zoom: 15,
            streetViewControl: false,
          mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              mapTypeIds:[google.maps.MapTypeId.HYBRID, google.maps.MapTypeId.ROADMAP] 
    },
    center: results[0].geometry.location,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
      map.setCenter(results[0].geometry.location);
      marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable: true,
          title: 'My Title'
      });
      updateMarkerPosition(results[0].geometry.location);
      updateinput(results[0].geometry.location);
      geocodePosition(results[0].geometry.location);
        
      // Add dragging event listeners.
  google.maps.event.addListener(marker, 'dragstart', function() {
    updateMarkerAddress('Dragging...');
  });
      
  google.maps.event.addListener(marker, 'drag', function() {
    updateMarkerStatus('Dragging...');
    updateMarkerPosition(marker.getPosition());
    updateinput(marker.getPosition());
  });
  
  google.maps.event.addListener(marker, 'dragend', function() {
    updateMarkerStatus('Drag ended');
    geocodePosition(marker.getPosition());
      map.panTo(marker.getPosition()); 
  });
  
  google.maps.event.addListener(map, 'click', function(e) {
    updateMarkerPosition(e.latLng);
    updateinput(e.latLng);
    geocodePosition(marker.getPosition());
    marker.setPosition(e.latLng);
  map.panTo(marker.getPosition()); 
  }); 
  
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      updateMarkerAddress(responses[0].formatted_address);
      updateaddress(responses[0].address_components);
    } else {
      updateMarkerAddress('Cannot determine address at this location.');
    }
  });
}

function updateMarkerStatus(str) {
  document.getElementById('markerStatus').innerHTML = str;
}

function updateinput(latLng) {
  document.getElementById('lat').value = latLng.lat();
  document.getElementById('lng').value = latLng.lng();
}
function updateaddress(add_components){
    var address_components = add_components;
    var components={}; 
    jQuery.each(address_components, function(k,v1) {jQuery.each(v1.types, function(k2, v2){components[v2]=v1.long_name});})
    for (var key in components) {
        switch(key){
             case "route":
                document.getElementById('street').value = components[key];
                break;
             case "locality":
                document.getElementById('locality').value = components[key];
                break;
             case "country":
                document.getElementById('country').value = components[key];
                break;
             case "postal_code":
                document.getElementById('zipcode').value = components[key];
                break;
             case "administrative_area_level_1":
                document.getElementById('state').value = components[key];
                break;
             case "administrative_area_level_2":
                document.getElementById('district').value = components[key];
                break;
        }
    }
    //document.getElementById('address1').value = components.country;
}
function updateMarkerPosition(latLng) {
  document.getElementById('info').innerHTML = [
    latLng.lat(),
    latLng.lng()
  ].join(', ');
}

function updateMarkerAddress(str) {
  document.getElementById('address').innerHTML = str;
  document.getElementById('address1').value = str;
}
   </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.nav-pills > li > a').click( function() {
        $('.nav-pills > li.active').removeClass('active');
        $(this).parent().addClass('active');
     } );
   });
  </script>
    <style>
      #target {
        width: 345px;
      }
    </style>
  </head>
  <body>
  
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">mVision</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class = "active"><a href="/">nEHome</a></li>
        <!--<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul> -->
        <!--</li> -->
        <li><a href="maps/temporoom/search">Private Room</a></li>
         <li><a href="/">PG/Hostel</a></li>
        <li><a href="/">Rent</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li> <a href="/listproperty"><span class="glyphicon glyphicon-home"></span>List Your Property</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user" ></span>{{ current_user.firstname}}!</a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-user"></span>   Logout</a></p>
        {% else %}
        <li> <a href="/listproperty"><span class="glyphicon glyphicon-home"></span>List Your Property</a></li>
        <li><a href="{{ url_for('oauth_authorize', provider='facebook') }}"> <span class="glyphicon glyphicon-user"></span>Login with Facebook</a></p>
        <li><a href="{{ url_for('oauth_authorize', provider='twitter') }}"><span class="glyphicon glyphicon-user"></span>Login with Twitter</a></p>
        {% endif %}
       <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login </a></li>-->
      </ul>
    </div>
  </div>
</nav>


<div class="col-xs-12" style="height:100px;"></div>


  
<div style="width:100%;">
            <div align="left">
	            <form id = "listproptempo" class="form-inline" role="form" action='/handleform/rent' method="POST" enctype="multipart/form-data">
                <br>
                <h2 style='color:green;'>Start Your journey to rent property!</h2>
                <h3 style='color:green;'>Start with the essential information </h3>
                <p> Address, Beds, Bathrooms, amenities, and more </p>
                 <div class="tabs-container">
                   <ul class="nav nav-pills">
                     
                      <li id="locationsetting" class="active"><a href="#">Place Location </a></li>
                      <li id="typesetting" class="psettingtab"> <a href="#">Place Type </a> </li>
                      <li id="homesetting" class="psettingtab"> <a href="#">Bedrooms & Bathroom </a></li> 
                      <li id="amenitiessetting" class="psettingtab"><a href="#">Amenities </a> </li> 
                      <li id="idealforsetting" class="psettingtab"><a href="#">Ideal For</a> </li>
                      <li id="leaseinfosetting" class="psettingtab"><a href="#">Lease Info</a></li>
                      <li id="rentrulessetting" class="psettingtab"><a href="#">Home rules</a></li>
                 
                  </ul> 
                </div>
                <br>
                <div id="placelocation" class="placesetting">

                    <div id="panel">
                    <input id="city_country" type="textbox" value="Guwahati, India">
                    <input type="button" value="Loadmap" onclick="codeAddress()">
                    </div>  
                    <div>
                    <div style="float:right;" id="mapCanvas"></div>
                      <!-- <div id="infoPanel">-->
                         <b>Marker status:</b>
                         <div id="markerStatus"><i>Click and drag the marker.</i></div>
                         <b>Current position:</b>
                         <div id="info"></div>
                        <b>Closest matching address:</b>
                        <div id="address"></div>
                          <div>
                          <h4 style="color:green;">Address: <input id="address1" /></h4>
                          <h4 style="color:green;">Lat: <input id="lat"/> </h4>
                          <h4 style="color:green;">Lng: <input id="lng"/></h4>
                          <h4 style="color:green;">Country: <input id="country"/></h4>
                          <h4 style="color:green;">State: <input id="state"/></h4>
                          <h4 style="color:green;">Locality: <input id="locality"/></h4>
                          <h4 style="color:green;">Street: <input id="street"/></h4>
                          <h4 style="color:green;">Zipcode: <input id="zipcode"/></h4>
                          <h4 style="color:green;">District: <input id="district"/></h4>
                      <!-- </div>-->
                   </div>
                  </div>
                </div>
                <div id="placetype" class="placesetting">
                    <h2 style='color:green;'>What kind of place are you Listing for rent?</h2>
                    <div id="placetype">
                        <label> <span class="glyphicon glyphicon-home"> </span>Entire Unit <input type="radio" name="placetype" value="entire"></label><br>
                        <label><span class="glyphicon glyphicon-home"></span>Private Room<input type="radio" name="placetype" value="private"> </label><br>
                        <label><span class="glyphicon glyphicon-home"></span>Shared Room <input type="radio" name="placetype" value="shared"> </label>   <br>
                    </div>

                    <h3 style='color:green;'>What type of property is this?</h3>
                    <select>
                        <option value="apartment">Apartment </option>
                        <option value="house">House </option>
                        <option value="bedBreakfast">Bed & Breakfast </option>
                        <option value="loft">Loft </option>
                        <option value="townhouse">Townhouse </option>
                        <option value="condominium">Condominium </option>
                        <option value="bungalow">Bungalow </option>
                        <option value="cabin">Cabin </option>
                        <option value="villa">Vila </option>
                        <option value="castle">Castle </option>
                        <option value="dorm">Dorm </option>
                        <option value="treehouse">Treehouse </option>
                        <option value="boat">Boat </option>
                        <option value="plane">Plane </option>
                        <option value="camper">Camper/RV </option>
                        <option value="igloo">Igloo </option>
                        <option value="lighthouse">Lighthouse </option>
                        <option value="yurt">Yurt </option>
                        <option value="tipi">Tipi </option>
                        <option value="cave">Cave </option>
                        <option value="island">Island </option>
                        <option value="chalet">Chalet </option>
                        <option value="earthhouse">Earth House </option>
                        <option value="hut">Hut </option>
                        <option value="train">Train </option>
                        <option value="tent">Tent </option>
                        <option value="other">Other </option>
                    </select>
                </div>
                <div id="roominfo" class="placesetting">
                    <h3 style='color:green;'>How big is your place?</h3>
                         <div class="left">
                             <p>
                             </p><div class="input-group">
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="nobed">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                               </span>
                           <input type="text" name="nobed" class="form-control input-number" value="1" min="1" max="100">
                             <span class="input-group-btn">
                           <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="nobed">
                          <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            </span>
                           </div>
                       <p></p>
                      </div>
                     <h4 style:'color:green;'>Furnishing type </h4>
                     <select>
                         <option value="realbed">Real Bed </option>
                         <option value="pulloutsofa">Pull-out Sofa</option>
                         <option value="airbed">Airbed</option>
                         <option value="fullyfurnished">Fully Furnished</option>
                         <option value="mattressonly">Mattress Only</option>
                         <option value="sofa">Sofa</option>
                         <option value="unfurnished">Unfurnished</option>
                         <option value="partialfurnished"> Partially Furnished </option>
                     </select>
                    <h3 style='color:green;'>How many people can stay?</h3>
                         <div class="left">
                             <p>
                             </p><div class="input-group">
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="noguest">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                               </span>
                           <input type="text" name="noguest" class="form-control input-number" value="2" min="1" max="100">
                             <span class="input-group-btn">
                           <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="noguest">
                          <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            </span>
                           </div>
                       <p></p>
                      </div>
                    <h3 style='color:green;'>How many bathrooms?</h3>
                         <div class="left">
                             <p>
                             </p><div class="input-group">
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="nobath">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                               </span>
                           <input type="text" name="nobath" class="form-control input-number" value="1" min="1" max="100">
                             <span class="input-group-btn">
                           <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="nobath">
                          <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            </span>
                           </div>
                       <p></p>
                      </div>
                 </div>
            
                 <div id="placeamenities" class="placesetting">
                     <h3 style='color:green;'>What special amenities do your place offer?</h3>
                     <div class="amenities">
                         <input id="amenities1" type="checkbox" name="amenities" value="essentials"> Essentials (Towels, bed sheets, soap and toilet paper)<br>
                        <input id="amenities2" type="checkbox" name="amenities" value="wifi"> Wifi<br>
                        <input id="amenities4" type="checkbox" name="amenities" value="tv"> TV<br>
                        <input id="amenities5" type="checkbox" name="amenities" value="ac"> Air Conditioning<br>
                        <input id="amenities6" type="checkbox" name="amenities" value="iron"> Iron<br>
                        <input id="amenities7" type="checkbox" name="amenities" value="wardrobe"> Wardrobe<br>
                        <input id="amenities8" type="checkbox" name="amenities" value="geaser"> Heater<br>
                        <input id="amenities9" type="checkbox" name="amenities" value="dryer"> Hair dryer<br>
                        <input id="amenities10" type="checkbox" name="amenities" value="breakfast"> Breakfast, coffee, tea<br>
                        <input id="amenities11" type="checkbox" name="amenities" value="fireplace"> Fireplace<br>
                        <input id="amenities12" type="checkbox" name="amenities" value="cupboard"> Workspace<br>
                        <input id="amenities14" type="checkbox" name="amenities" value="washer"> Washing machine<br>
                        <input id="amenities15" type="checkbox" name="amenities" value="cooking"> Cooking<br>
                        <input id="amenities16" type="checkbox" name="amenities" value="petowner"> Pets in the house<br>
                        <input id="amenities17" type="checkbox" name="amenities" value="security"> Security<br>
                     </div>
                     <h3 style='color:green;'>What outdoor spaces can tenant use?</h3>
                     <div class="guestspace">
                        <input id="amenities1" type="checkbox" name="guestspace" value="gym"> Gym<br>
                        <input id="amenities2" type="checkbox" name="guestspace" value="swimming_pool"> Swimming pool<br>
                        <input id="amenities3" type="checkbox" name="guestspace" value="jogging_track"> Jogging track<br>
                        <input id="amenities4" type="checkbox" name="guestspace" value="playground"> Playground<br>
                        <input id="amenities5" type="checkbox" name="guestspace" value="tennis_court"> Tennis court<br>
                        <input id="amenities6" type="checkbox" name="guestspace" value="Basketball_court"> Basketball court<br>
                        <input id="amenities7" type="checkbox" name="guestspace" value="squash_court"> Squash court<br>
                        <input id="amenities8" type="checkbox" name="guestspace" value="garden"> Garden<br>
                        <input id="amenities9" type="checkbox" name="guestspace" value="badminton_court"> Badminton court<br>
                        <input id="amenities9" type="checkbox" name="guestspace" value="clubhouse"> Clubhouse<br>
                        <input id="amenities9" type="checkbox" name="guestspace" value="spa"> Spa<br>
                        <input id="amenities9" type="checkbox" name="guestspace" value="car_park"> Car parking<br>
                        <input id="amenities9" type="checkbox" name="guestspace" value="bbq_pits"> BBQ pits<br>
                        <input id="amenities9" type="checkbox" name="guestspace" value="function_room"> Function Room<br>
                     </div>
                     <h3 style='color:green;'>Special features?</h3>
                     <div class="specialfeatures">
                        <input id="amenities1" type="checkbox" name="specialfeatures" value="sea_view"> Sea view<br>
                        <input id="amenities2" type="checkbox" name="specialfeatures" value="city_view"> City view<br>
                        <input id="amenities3" type="checkbox" name="specialfeatures" value="park_greenary_view"> Park/Greenary view<br>
                        <input id="amenities4" type="checkbox" name="specialfeatures" value="smimming_pool_view"> Swimming pool view<br>
                        <input id="amenities5" type="checkbox" name="specialfeatures" value="good_natural_light"> Good natural light<br>
                     </div>

                 </div>

                 <div id="placefor" class="placesetting">

                    <h3 style='color:green;'>Describe you place</h3>
                      <select id="placedescription" multiple="multiple">
                           <option value="ambiance">The ambiance</option>
                           <option value="neighbourhood">The neighbourhood</option>
                           <option value="airport">Near to the aiport</option>
                           <option value="comfybed">The comfy bed</option>
                           <option value="outdoor">The outdoor space</option>
                           <option value="serenity">Serenity</option>
                     </select>
                     <h3 style='color:green;'>My place ideal for?</h3>
                     <div class="guestprefer">
                        <input id="amenities1" type="checkbox" name="guestprefer" value="couples"> Couples<br>
                        <input id="amenities2" type="checkbox" name="guestprefer" value="family_with_child"> Family with childs<br>
                        <input id="amenities3" type="checkbox" name="guestprefer" value="business_person"> Business Person<br>
                        <input id="amenities4" type="checkbox" name="guestprefer" value="solo_adventures"> Solo adentures<br>
                        <input id="amenities5" type="checkbox" name="guestprefer" value="bachelor_groups"> Bachelor groups <br>
                        <input id="amenities6" type="checkbox" name="guestprefer" value="students"> Students<br>
                        <input id="amenities7" type="checkbox" name="guestprefer" value="person_witn_pets"> Person with pets<br>
                        <input id="amenities8" type="checkbox" name="guestprefer" value="women"> Women/Girl<br>
                        <input id="amenities9" type="checkbox" name="guestprefer" value="accessible"> Accessible<br>
                      </div>
                 </div>
                 <div id="leaseinforent" class="placesetting">
                    <h4 style="color:green;">Price:</h4> <input type="text" name="rent" id="rent" placeholder="Rent per Month"/> <br>
                    <h4 style="color:green;">Available Date:</h4>
                     <input id="availability" type="text" placeholder="dd/mm/yyyy"/>
                     <p><h4 style="color:green;"><label for="leaseterm">Lease term:</label> </h4>
                           <input type="text" id="leaseterm" readonly style="border:0; color:#f6931f; font-weight:bold;"/> </p>
                          <div id="leasetermrange"></div>                  
                 </div>
                  <div id="rentrules" class="placesetting">

                     <h3 style="color:green;">Set house rules for your guests</h3>
                     Child-friendly (3-12 years):<input type="checkbox" id="childfriendly" name="rentrules" class="oval">
                     <label class="toggler" for="childfriendly"></label> 
                     Infant-friendly (3-12 years):<input type="checkbox" id="infantfriendly"  name="rentrules" class="oval">
                     <label class="toggler" for="infantfriendly"></label> 
                     Suitable for pets:<input type="checkbox" id="petsfriendly" name="rentrules"  class="oval">
                     <label class="toggler" for="petsfriendly"></label> 
                     Smoking allowed:<input type="checkbox" id="smoking" name="rentrules" class="oval">
                     <label class="toggler" for="smoking"></label> 
                     Drinking allowed:<input type="checkbox" id="drinking" name="rentrules" class="oval">
                     <label class="toggler" for="drinking"></label> 
                     Events or Party allowed:<input type="checkbox" id="party" name="rentrules" class="oval">
                     <label class="toggler" for="party"></label> 
                     Extra guests:<input type="checkbox" id="extraguest" name="rentrules" class="oval">
                     <label class="toggler" for="extraguest"></label> 
                     Late Night Entry:<input type="checkbox" id="latenight" name="rentrules" class="oval">
                     <label class="toggler" for="latenight"></label> 

                  </div>
                 <div id="searchbutton">
                   <br> <p><class="submit"><input type="submit" name="Search" value="Search"></p>
                    <br> 
                 </div>
                </form>
            </div> 
     


 </div>

<!--
    <div id="panel">
      <input id="city_country" type="textbox" value="Boon lay, Singapore">
      <input type="button" value="Geocode" onclick="codeAddress()">
  </div>  
  <div style="float:right;" id="mapCanvas"></div>
  <div id="infoPanel">
    <b>Marker status:</b>
    <div id="markerStatus"><i>Click and drag the marker.</i></div>
    <b>Current position:</b>
    <div id="info"></div>
    <b>Closest matching address:</b>
    <div id="address"></div>

   <p>address: <input id="address1" /></p>
   <p> Lat: <input id="lat"/> </p>
   <p>Lng: <input id="lng"/></p>
   <p>Country: <input id="country"/></p>
   <p>State: <input id="state"/></p>
   <p>Locality: <input id="locality"/></p>
   <p>Street: <input id="street"/></p>
   <p>Zipcode: <input id="zipcode"/></p>
   <p>District: <input id="district"/></p>
  </div>
-->


</body>


</html>
