 <!--<link rel="Stylesheet" type="text/css" href="css/smoothDivScroll.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="js/jquery.mousewheel.min.js" type="text/javascript"></script>
    <script src="js/jquery.kinetic.min.js" type="text/javascript"></script>
    <script src="js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>    
    <script src="js/jquery.min.js" type="text/javascript"></script>    
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js" type="text/javascript"></script> 
    <link rel="Stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" type="text/css"/> 
    <link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css"> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>  -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" /> 

    
    <script src="js/countries.js" type="text/javascript"></script> 
    <script src="js/proptypes.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/plusminus.js"> </script>
    <script type="text/javascript" src="js/plusminusimp.js"> </script>
    <script type="text/javascript" src="js/searchtempo.js"> </script>
    <script type="text/javascript" src="js/googlemapsearch.js"> </script>









<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap-combined.min.js" type="text/javascript" ></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    
